//====================== TEXTS ======================

$title-font-size-title: 48px;
$title-font-weight-detail: 800;

$title-font-size-list: 24px;
$title-font-weight-list: 700;

$title-font-size-detail: 32px;
$title-font-weight-detail: 800;

$text-font-size-header: 16px;
$text-font-weight-header: 400;

$text-font-size-toppings: 14px;
$text-font-weight-toppings: 400;

$text-font-size-footer: 16px;
$text-font-weight-footer: 400;

//====================== COLORS ======================


$text-font-color-header: #ffffff;
$title-font-color-list: #000000;
$title-font-color-detail: #000000;
$text-font-color-toppings: #303030;
$text-font-color-footer: #ffffff;
$button-font-color: #FFFFFF;
$icon-color: #FFFFFF;
//====================== BUTTONS ======================

$button-border: none;
$button-border-radius: 8px;
$button-border-radius-circle: 50%;
$button-padding: 0px 6px;

//====================== ICONS ======================

$icon-font-size-small: 16px;
$icon-font-size-large: 24px;
$icon-background: none;

//====================== BACKGROUNDS ======================

$banner-bg-color: #000000;
$box-bg-color: rgba(54, 54, 54, 0.5);
$button-bg-color-select: #00aeff;
$button-bg-color-danger: #dc3545;
$button-bg-color-alert: #CF9B1D;
$button-bg-color-success: #28a745;
$hover-button-bg-color: rgba(0, 128, 128, 0.5);

//====================== PADDING ======================

$header-padding: 10px 20px;
$footer-padding:10px 20px;
$box-padding: 10px 10px;
$body-title-padding: 10px 20px;
$body-text-padding: 10px 20px;

//====================== DISPLAYS ======================

$display-off: none;
$display-on-mobile: block;
$display-inline: inline-block;
