<div *ngIf="pizza" class="pizza-card">
    <div class="section-1">
      <img [src]="pizza.largeImageUrl" alt="{{pizza.name}}" class="pizza-image">
    </div>
  
    <div class="section-2">
      <h3>Toppings</h3>
      <table>
        <tr *ngFor="let topping of pizza.toppings">
          <td>{{topping.name}}</td>
          <td><button (click)="removeTopping(topping.id)">Remove</button></td>
        </tr>
      </table>
    </div>
  
    <div class="section-3">
      <h3>Add Topping</h3>
      <div *ngFor="let topping of allToppings">
        <input type="checkbox" (change)="onToppingChange($event, topping)" [value]="topping.id"> {{topping.name}}
      </div>
      <button (click)="confirmToppings()">Confirm</button>
    </div>
    
    <div class="section-footer">
      <button (click)="finishPizza()">Finish</button>
    </div>
</div>