@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.footer {
    background-color: #24252A;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #eeeded;
    position: fixed;
    bottom: 0;
    left: 0px; 
    right: 0px; 
    padding: 1em;
    margin-top: auto;
    text-align: center;
}

.footer-content {

    align-items: center;
}

.socials {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 5px;
        margin-right: 10px;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        transition: 0.3s;

        i {
            font-size: 25px;
        }

        &:hover i {
            color: #014b5c;
        }
    }
}