@import "/src/assets/scss/variables.scss";

.footer {
    background-color: $banner-bg-color;
    width: 100%;
    height: auto;
    font-size: $text-font-size-footer;
    color: $text-font-color-footer;
    position: fixed;
    bottom: 0;
    left: 0px; 
    right: 0px; 
    padding: $footer-padding;
    margin-top: auto;
    text-align: center;
}



.socials {
    display: $display-inline;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0;
    color: $icon-color;

    li {
        display: $display-inline;
        margin: 0 5px;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        transition: 0.3s;
        color: $icon-color;

        i {
            font-size: $icon-font-size-large;
        }

        &:hover i {
            color: $hover-button-bg-color;
        }
    }
}