@import "../../../assets/scss/variables.scss";
 
header {
    background-color: $banner-bg-color;
    padding: $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section, .right-section {
    display: flex;
    align-items: center;
}
.logo {
    font-size: $title-font-size-title;
    
    img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: auto;
    }
}

.tittle {
    text-align: center;
    font-size: $title-font-size-title;
    font-weight: $title-font-weight-detail;
    color: $text-font-color-header;
    flex: 1;
}
  
.pizza-icon {
    font-size: $icon-font-size-large;
    color: $icon-color;
}

  
@media only screen and (max-width: 1024px) {
  
    .logo img {
        max-width: 60%;
    }
    
    .categories {
        font-size: $text-font-size-toppings;
    }
  }

