<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th><h3>Selected Pizza</h3></th>
            <th><h3>{{ pizza?.name }}</h3></th>
          </tr>
        </thead>
        <tbody>
            <tr><h2>Toppings</h2>
                <tr *ngFor="let topping of pizza?.toppings">
                  <td>{{ topping.name }}</td>
                  <td><button class="btn btn-danger" (click)="removeTopping(topping.id)">Remove</button></td>
                </tr>
            
                <tr>
                <h2>Add Topping</h2>
                  <input type="text" [(ngModel)]="newTopping.name" placeholder="New topping">
                </tr>
                <td>
                  
                </td>
        </tbody>
      </table>
  </div>