<footer class="footer">
    <div class="footer-content">
        Copyright &copy; TRUEXTEND. All rights reserved
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
            <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
            <li><a href="#"><i class="fa fa-youtube"></i> </a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i> </a></li>
        </ul>
    </div>
</footer> 