@import '/../../../../assets/scss/variables.scss';

header {
    background-color: $banner-bg-color;
    padding: $header-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    size: 8px;

    img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    }
}

.web-tittle {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: $title-font-weight-detail;
    color: $text-font-color-header;
    flex: 1;

}

.search-box {
    padding: $box-padding;
    background: $box-bg-color;
    border-radius: 30px;
    margin-right: 10px;

    &:hover {
        .search-txt {
            width: 200px;
            padding: $button-padding;
        }
    }
    
    .search-button {
        color: $icon-color;
        float: right;
        width: $icon-font-size-large;
        height: $icon-font-size-large;
        border-radius: $button-border-radius-circle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-txt {
        border: $button-border;
        background: none;
        outline: none;
        float: left;
        padding: $button-padding;
        color: $button-font-color;
        font-size: $text-font-size-header;
        transition: 0.4s;
        line-height: 30px;
        width: 0px;
    }
}

.button {
    padding: 7px 15px;
    border-radius: 50px;
    
    &.sign-in {
        background-color: $button-bg-color;
        margin-right: 10px;
        
        &:hover {
            background-color: $hover-button-bg-color;
        }
    }
    
    &.log-in {
        background-color: transparent;
        border: 1px solid $button-bg-color;
        
        &:hover {
            background-color: $hover-button-bg-color;
        }
    }
}

.menu-toggle {
    display: $display-off;
    color: $icon-color;

}

@media only screen and (max-width: 768px) {
    .logo {
        img {
            max-width: 50%;
        }
    }

    .web-tittle {
        display: $display-off;

        &.open {
            display: $display-on-mobile; 
        }
    }

    .user-profile {
        display: $display-off; 
    
        &.open {
            display: $display-on-mobile; 
        }
    }
    .search-box {
        display: $display-off;
    
        &.open {
            display: $display-on-mobile;
        }
    }

    .menu-toggle {
        display: $display-on-mobile;
    }
}