<p-table [value]="toppings">
  <ng-template pTemplate="header">
      <tr>
          <th>Nombre</th>
          <th>Opciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-topping>
      <tr>
          <td>{{ topping.name }}</td>
          <td>
              <p-button label="Remove" (onClick)="removeTopping(topping)" icon="pi pi-times" class="p-button-danger"></p-button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
      <tr>
          <td>
              <input type="text" [(ngModel)]="newTopping.name" placeholder="New topping">
          </td>
          <td>
              <p-button label="Add" (onClick)="addTopping(newTopping)" icon="pi pi-check" class="p-button-success"></p-button>
          </td>
      </tr>
  </ng-template>
</p-table>