<div class="menu-title">OUR TOPPINGS</div>
<p-table [value]="toppings">
  <ng-template pTemplate="header">
      <tr>
          <th>Nombre</th>
          <th>Opciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-topping>
      <tr>
          <td>{{ topping.name }}</td>
          <td>
            <button mat-raised-button color="warn" (click)="removeTopping(topping)">
              <mat-icon>clear</mat-icon>
              Remove
            </button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
      <tr>
          <td>
            <input type="text" [(ngModel)]="newTopping.name" placeholder="Add New topping..."
            [class]="newTopping.name ? 'input-filled' : 'input-empty'">
          </td>
          <td>
            <button mat-raised-button class="custom-button success" (click)="addTopping(newTopping)">
              <mat-icon>check</mat-icon>
              Add
            </button>
          </td>
      </tr>
  </ng-template>
</p-table>