@import "/src/assets/scss/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}
  
  p-table {
    width: 50%;
    margin-bottom: 32px;
    color: #212529;
    border-collapse: collapse;
  }
    
  .p-table td,
  .p-table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .menu-title {
    font-size: $title-font-size-title;
    font-weight: $title-font-weight-detail;
    text-align: center;
    color: $title-font-color-detail;
  }
  
  .input-field {
    margin-right: 10px;
  }
  
  .custom-button.success {
    background-color: $button-bg-color-success;
    color: $button-font-color;
  }
