@import "/src/assets/scss/variables.scss";

.menu-title {
    font-size: $title-font-size-title;
    font-weight: $title-font-weight-detail;
    text-align: center;
    color: $title-font-color-detail;
}


.pizza-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .pizza-card {
        flex: 0 0 calc(25% - 2 * $card-margin);  
        margin: $card-margin; 
        margin-bottom: 60px;
        height: 500px;
        padding-bottom: 16px;
    
        p-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
    
        .pizza-img {
            width: 100%;
            max-width: 360px;
            height: auto;
            object-fit: cover;
        }
    
        button {
            margin-top: auto; 
            width: 100%; 
        }
        }
    }
}
