.table-responsive{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.menu-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center
}
  
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}
  
.table td,
  .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
  
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
  
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
  
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
  
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}